apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: django-app # <--- MUST MATCH WHAT IS ALREADY IN THE CLUSTER
  template:
    metadata:
      labels:
        app: django-app # <--- MUST MATCH SELECTOR
    spec:
      containers:
      - name: library-app
        image: cloud:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
        env:
          - name: POSTGRES_DB
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: POSTGRES_DB
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: POSTGRES_USER
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: postgres-password
          - name: POSTGRES_HOST
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: POSTGRES_HOST
          - name: POSTGRES_PORT
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: POSTGRES_PORT